.favorites-list {
    margin-top: 15px;
    .link {
        color: #337ab7;
        font-size: 18px;
    }
    .tags {
        color: #999;
        margin: 10px 0 0 0; 
    }
    .link-mark,
    .link-delete,
    .link-marked {
        color: #999;
        text-decoration: none;
        margin-left: 10px;
    }

    .link-delete:hover {
        color: #f30;
    }
    .link-mark:hover {
        color: #337ab7;
    }
}